body {
    background-color:powderblue;
}
.main {
    text-align:center;   
}
.post {
     background-color:greenyellow;
    font-size:50px;
    font-weight:bold;
}
#style {
    font-style:bold;
    font-size:20px;
}